<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Nom Complet<input [(ngModel)]="name"></p>
    <p>Pseudo<input [(ngModel)]="Pseudo"></p>
    <p>Email<input [(ngModel)]="Email"></p>

<button (click)="form()"> Ajouter</button>

<div *ngFor="let x of arr; let index = index;">
    {{ x.name }}
    <button></button>

  </div>

  <app-profile>
      
  </app-profile>


</body>
</html>

